.p1{
	background:url("hydra.jpg");
	width:200px;
	height:200px;
	box-sizing:border-box;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.p2{
	width:100%;
	height:100%;
	transition:background 3s ease-out;
}
.p2 span{
	top:30px;
	left:-200%;
	position:absolute;
	transition:background 3s ease-out;
}
.p1:hover .p2{
	background-color:rgba(255,255,255,.5);
}
.p1:hover span{
	left:75px;
}
.c1, .d{
	box-sizing: border-box;
	padding: 10px;
	width: 300px;
	height: 150px;
	background-color: blue;
}
.d{
	background-color: yellow;
	margin-left: -300px;
	transition-property: all;
	transition-duration: 2s;
	transition-timing-function:
	cubic-bezier(.12,.15,.3,5.5)
}
.c1:hover +.d{
	margin-left: 0px;
}